







body,
span,
sup.anote,
p.term,
span.subject {
	font-family: var(--font-family-sans) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p.term,
p.title,
span[style="font-size: 36pt; color: #000060;"] {
	display: block !important;
	margin: 1em auto !important;
	padding: 0 !important;
	font-weight: 800 !important;
	letter-spacing:-.5px !important;
	font-family: var(--font-family-sans) !important;
	color: var(--litemode_heading-text) !important;
	text-align: left !important;
	max-width: var(--max-col-width) !important;
	line-height: 1.25 !important;
}
@media (prefers-color-scheme: dark) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p.term,
	p.title,
	span[style="font-size: 36pt; color: #000060;"] {
		color: var(--darkmode_heading-text) !important;
	}
}

h1,
p.title,
span[style="font-size: 36pt; color: #000060;"] {
	font-size: 36px !important;
}
h2 {
	font-size: 26px !important;
}
h3 {
	font-size: 22px !important;
}
h4 {
	font-size: 20px !important;
}
h5 {
	font-size: 18px !important;
}
h6 {
	font-size:16px !important;
}
@media (prefers-color-scheme: dark) {
	p.title {
		color: var(--darkmode_primary-text) !important;
	}
}
p,
p.information,
p.footer,
p.pagenote,
p.pagenoteb,
ol,
ul,
ol li,
ul li {
	font-size: 18px !important;
	max-width: var(--max-col-width);
	margin: 0 auto 1em;
	line-height: 1.5;
	text-indent: 0 !important;
	color: #143a46;
	text-align: left !important;
	font-family: var(--font-family-serif) !important;

	@media(min-width:1000px) {
		font-size:20px !important;
	}
}
@media (prefers-color-scheme: dark) {
	p,
	p.information,
	p.footer,
	p.pagenote,
	p.pagenoteb,
	ol,
	ul,
	ol li,
	ul li {
		color: var(--darkmode_primary-text) !important;
	}
}
p.pagenote a {
	display: inline-block;
	padding: 3px;
}
p.pagenote,
p.pagenoteb {
	font-size:85% !important;
	font-family:var(--font-family-sans);
}
p.fst,
p.quote,
blockquote,
p.quoteb,
p.indentb,
p.indent {
	font-size: 18px;
	line-height: 1.5;
	display: block;
	margin: 2em auto;
	padding: 2em;
	border-left: 4px solid #143a46;
	text-align: left;
	background: rgba(0, 0, 0, .025);
}
@media (prefers-color-scheme: dark) {
	p.fst,
	p.quote,
	blockquote,
	p.quoteb,
	p.indentb,
	p.indent {
		border-left:4px solid #2D3B55;
	}
}
p.fst{border-left:0!important}
blockquote > blockquote,
body > blockquote {
	padding: 0;
	border: 0;
	background: transparent;
	margin: 0;
}

ol.numbered.numbered,
ul.disc {
	font-family:var(--font-family-sans) !important;
	font-size:inherit !important;
	line-height:1.5 !important;
	margin:2em 1em !important;

	li {
		font-family:var(--font-family-sans) !important;

		p.fst {
			margin-top:.5em;
		}
	}
}
ul.disc {
	list-style:disc;
}

a.cite:link,
a.cite:visited,
a.cite:href,
a.cite,
p.bubble {
	color: #333 !important;
	font-weight: bold !important;
}
@media (prefers-color-scheme: dark) {
	a.cite:link,
	a.cite:visited,
	a.cite:href,
	a.cite,
	p.bubble {
		color: var(--darkmode_primary-text) !important;
	}
}
p.fst + p.fst,
p.quote + p.quote,
blockquote + blockquote,
p.quoteb + p.quoteb,
p.indentb + p.indentb,
p.indent + p.indent {
	margin-top: -2em !important;
	padding-top:0;
}
p.fst,
td.index {
	padding: 0;
	background: none;
	border: 0;
}

p .right {
	float: right;
	margin: 1em 0 1em 1em;
}
p .left {
	float: left;
	margin: 1em 1em 1em 0;
}
p + * {
	margin-top: 1em;
}

p.note,
p.head {
	background: none!important
}
p.head {
	margin-bottom: .25em
}
p.note {
	margin-top: 0;
}
p.inline {
	font-size: .75em;
	margin: 3em 0;
}
hr {
	margin: 2em auto;
	border: 0;
	border-bottom: 2px solid rgba(0, 0, 0, .25);
	background: none;
}
hr:last-of-type {
	border-bottom: 5px solid #000;
}
hr.end {
	width: 100%;
}
span.info {
	display: block;
	margin-top: 1em;
	text-transform: uppercase;
	font-size: 75%;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, .65);
}
@media (prefers-color-scheme: dark) {
	span.info {
		color: rgba(255, 255, 255, .5);
	}
}

span.date {
	color:rgba(0,0,0,.5);
}
@media (prefers-color-scheme: dark) {
	span.date {
		color: rgba(255, 255, 255, .5);
	}
}

span.author,
span.subject {
	font-size:18px !important;
	font-weight:bold !important;
	font-family:var(--font-family-sans) !important;

	.small {
		font-size:inherit !important;
	}

	a.group:link {
		font-size:inherit !important;
		text-decoration:none;
	}
}
