/*

Nord
https://www.nordtheme.com/docs/colors-and-palettes

*/


@-moz-document __DOMAINS__ {
	if theme == nord {

		:root {
			--font-family-sans: "Helvetica Neue",Arial, sans-serif !important;
			--font-family-serif: var(--font-family-sans);
			--font-heading: var(--font-family-sans);

			--main-bg: #2e3440;

			--primary-text: #eceff4;
				--light-text: #e5e9f0;
				--faint-text: #d8dee9;
			--heading-text: #d8dee9;

			--horizontal-rule-border-bottom-props: 2px solid rgba(0,0,0,.05);
			--end-horizontal-rule-border-bottom-props: 8px solid #4c566a;

			--link: #88c0d0;
			--link-hover: #d8dee9;
			--link-visited: #5e81ac;
			--link-active: #8fbcbb;

			--image-shadow: none;
			--image-border-props: 1px solid #000;
			--image-border-radius: 0;

			--button-bg: #5e81ac;
			--button-fg: var(--primary-text);
			--button-hv: var(--link-hover);
			--button-active: var(--main-bg);
			--button-border-radius: 4px;

			--input-border: 1px solid rgba(0,0,0,.75);
			--input-border-focus: 1px solid var(--link);
			--input-border-radius: 4px;
			--input-bg: #4c566a;
			--input-focus-bg: var(--main-bg);
			--input-text-color: var(--primary-text);
			--select-bg: linear-gradient(0deg, var(--main-bg) 0%, #4c566a 100%);

			--table-text: var(--primary-text);
			--table-border-color: #4c566a;

			--tab-bg: rgba(0,0,0,.05);
			--tab-bg-hover: rgba(0,0,0,.1);
			--tab-link: var(--link);
			--tab-hover: var(--link-hover);
			--tab-visited: var(--link-visited);
			--tab-active: var(--link-active);
			--tab-border-radius: 4px;

			--quote-bg: rgba(0,0,0,.25);
			--quote-border-color: #ebcb8b;

			--sup-cite-font-size:.85em;
			--sup-cite-bg:transparent;
			--sup-cite-bg-hover:transparent;
			--sup-cite-bg-active:transparent;
			--sup-cite-bg-visited:transparent;
			--sup-cite-fg:var(--link);
			--sup-cite-fg-hover:var(--link-hover);
			--sup-cite-fg-visited:var(--link-visited);
			--sup-cite-fg-active:var(--link-active);
			--sup-cite-border-radius:0px;
			--sup-cite-text-shadow-props: 0 1px 0 transparent;

			--back-to-top-bg: #d8dee9;
			--back-to-top-fg: #2e3440;
			--back-to-top-hover: #eceff4;
			--back-to-top-active: #e5e9f0;
			--back-to-top-shadow: 0 1px 5px rgba(0,0,0,.01);
			--back-to-top-border-radius: 0px;
		}

	}
}