map + br + form {
	width: 320px;
	margin: 0 auto 1em;
	display: block;
}

select,
input,
map + br + form select,
select#subjects2,
select#sections,
select#authors,
select#periodicals,
input[type="text"],
input[type="search"],
input[type="submit"] {
	display: block !important;
	width: 100% !important;
	font-size: 18px !important;
	padding: 6px !important;
	height:36px !important;
	line-height:36px !important;
	border: var(--input-border) !important;
	border-radius: var(--input-border-radius) !important;
	background:var(--input-bg) !important;
	color:var(--input-text-color) !important;

	&:focus {
		background:var(--input-focus-bg) !important;
		border: var(--input-border-focus) !important;
	}
}

select,
select#subjects2,
select#sections,
select#authors,
select#periodicals {
	background-image: var(--select-bg) !important;

	* {
		color:var(--primary-text) !important;
		font-size:16px !important;
	}

	&:focus {
		background-image: var(--select-bg) !important;
		border: var(--input-border-focus) !important;
	}
}

input[type="radio"],
input[type="checkbox"] {
	display: inline-block !important;
	width: auto !important;
	height: auto !important;
	padding:0 !important;
	margin:2px !important;
}

input[type="submit"] {
	background: var(--button-bg, #444) !important;
	color: var(--button-fg, #fff) !important;
	border-radius: var(--button-border-radius) !important;
	border: 0 !important;
	font-weight: bold !important;
	text-align: center !important;
	cursor: pointer !important;
	padding:0 !important;
	font-size:16px !important;

	&:hover,
	&:focus {
		background: var(--button-hv) !important;	
	}

	&:active {
		background:var(--button-active) !important;
	}
}

form br + br {
	display:none !important;
}

map + br + form table,
map + br + form table td,
map + br + form table tr,
map + br + form table th {
	display: block;
}