*[bgColor],
body[style*="background"],
body[bgColor],
body[bgcolor] {
	background: var(--main-bg) !important;
}

*[bordercolor] {
	border: 0;
}

.pageselection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 0;
}
.pageselection a {
	font-size: 16px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	margin: 4px;
	background: rgba(0, 0, 0, .05);
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	border-top: 1px solid rgba(255, 255, 255, .1);
	font-weight: bold;
	border-radius: 4px;
	text-decoration: none;
}



span.book {
	font-family: inherit !important;
	color: inherit !important;
	font-weight: bold !important;
	font-size: inherit !important;
}

span[style*="#000060"] {color:var(--primary-text)!important;}

h3 span[style="font-size: 36pt; color: #000060;"] {
	margin-top:0 !important;
}

br:first-child {
	display:none !important;
}

[style*="border-color: #FFCC33"] {
	border:0 !important;
}

td[width="8%"]:empty {
	display:none !important;
}

.bebel.bebel {
	background:var(--main-bg) !important;
	width:auto !important;
	padding:0 !important;
	border:0 !important;
}

td + td[rowspan="8"] {
	display:none !important;
}

td[width="10%"] {
	h1,h2,h3,h4,h5,h6 {
		font-size:inherit !important;
	}

	&:empty {
		display:none !important;
	}
}

[style*="word-spacing"] {
	word-spacing:0 !important;
}

[style*="color: yellow"],
[style*="color:yellow"],
font[color="#FF0000"],
[style*="005080"],
[style*="0080c0"],
span.span,
[style="color: green"] {
	color:inherit !important;
	font-family: inherit !important;
}
span.span {
	font-weight:bold !important;
	font-size:150% !important;
}